<div class="row" style="padding: 40px 40px 40px 135px;">
  <div class="span9">
    <h1 style="padding-bottom: 10px;">Contact.</h1>
    <H3><a href="http://twitter.com/blairanderson">Blair Anderson</a></h3>
      <p>Juice connoisseur and Seattle's proudest son. Worked selling stuff to Amazon while making meals in a blender.</p>
      <h4>Twitter</h4>
      <p><a href="http://twitter.com/blairanderson">@blairanderson</a></p>
    <H3><a href="http://twitter.com/novohispano">Jorge Téllez</a></h3>
      <p>Mexican. He codes in Ruby while speaking Spanish. Born on Hero Mode.</p>
      <h4>Twitter</h4>
      <p><a href="http://twitter.com/novohispano">@novohispano</a></p>
  </div>
</div>