<div id="footer">
  <div class="container" align="center">
    <p class="muted credit">
      This TrafficSpy version was built by <a href="http://twitter.com/blairanderson">Blair Anderson</a> and <a href="http://twitter.com/novohispano">Jorge Téllez</a> at gSchool.
    </p>
  </div>
</div>
