<div id="wrap">
  <div class="span2 pull-left">
    <ul class="unstyled">
      <h2>View Stats</h2>
      <% @sources.each do |source| %>
        <li><p class="lead"><a href="/sources/<%= source.identifier %>">
          <%= source.identifier %></a></p></li>
      <% end %>
    </ul>
  </div>
  <div class="container" align="center">
    <div class="page-header">
      <h1>Post some data.</h1>
    </div>
    <div>
      <p class="lead">
        Welcome to TrafficSpy, the web analytics tool developed at gSchool.
      </p>
    </div>
    <div>
      <form action='/sources' method='post'>
        <fieldset>
          <div>
            <input class="input-xlarge span4" type='text' placeholder="identifier" name="identifier" value="jumpstartlab"/>
          </div>
          <div>
            <input class="input-xlarge span4" type='text' placeholder="url" name="rootUrl" value="http://jumpstartlab.com"/>
          </div>
          <div>
            <input type='submit' class='btn btn-primary span4'/>
          </div>
        </fieldset>
      </form>
    </div>
    <div id="myfirstchart" style="height: 250px;"></div>
  </div>
  <div id="push"></div>
</div>
