<html>
  <head>
    <title>Sources</title>
  </head>
  <body>
    <h1>Please post some data!</h1>
    <form action='/sources' method='post'>
      <input type='text' name='identifier' value="jumpstartlab" /><br/>
      <input type='text' name='rootUrl' value="http://jumpstartlab.com" /><br/>
      <input type='submit'/>
    </form>
  </body>
</html>