<div>
  <h1>Source Show</h1>

    <ul>
      <li>Most requested URLS to least requested URLS (url)</li>
      <li>Web browser breakdown across all requests (userAgent)</li>
      <li>OS breakdown across all requests (userAgent)</li>
      <li>Screen Resolution across all requests (resolutionWidth x </li>resolutionHeight)
      <li>Longest, average response time per URL to shortest, </li>average response time per URL
      <li>Hyperlinks of each url to view url specific data</li>
      <li>Hyperlink to view aggregate event data</li>
    </ul>
    <hr>

    <ul class="unstyled">
      <h2>View Stats</h2>
      <% @actions.each do |action| %>
        <li><%= action.id %></li>
      <% end %>
    </ul>
    <h3>URL Breakdown</h3>
      <% @urls.each do |path,request_count| %>
  <div>path:  <%= path %></div>
  <div>count: <%= request_count %></div>
      <% end %>

<hr>
<h3>URL Response Time</h3>

<%# source.urls.sort_by {|url| url.average_response }.reverse.each do |url| %>
  <div>path:  <%# link_to url.path, url %></div>
  <div>average response: <%# url.average_response %></div>
<# end %>


<hr>
<h3>Browser Breakdown</h3>

<# source.browsers.sort_by {|browser| browser.request_count }.reverse.each do |browser| %>

  <div>browser: <%# browser.name %></div>
  <div>count: <%# browser.request_count %></div>

<# end %>

<hr>
<h3>OS Breakdown</h3>

<# source.operating_systems.sort_by {|os| os.request_count }.reverse.each do |os| %>

  <div>os: <%# os.name %></div>
  <div>count: <%# os.request_count %></div>

<# end %>

<hr>
<h3>Resolution Breakdown</h3>

<# source.resolutions.sort_by {|res| res.request_count }.reverse.each do |resolution| %>

  <div>resolution: <%# resolution.name %></div>
  <div>count: <%# resolution.request_count %></div>

<# end %>

<hr/>

<div>
  <%# link_to "Events", source.events_url %>
</div>
