<h1>Currently viewing path: "<%= @path %>" for <a href="/sources/<%= @identifier %>"><%= @identifier %></a></h1>
<h2></h2>
<ul>
  <% @actions.collect { |action| action.responded_in }.sort.reverse.each do |time| %>
  <li><%= time %>ms</li>
  <% end %>
</ul>
